* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

div {
    outline: 1px solid red;
}

.paper-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.paper-form-content {
    width: 100%;
}

fieldset {
    border: 2px solid #333;
    padding: 8px 24px 10px 8px;
}

.paper-form-content-personal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-form-content-locate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-form-content-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-form-content-personal__name,
.paper-form-content-personal__dni,
.paper-form-content-locate__street,
.paper-form-content-locate__location,
.paper-form-content-locate__cp,
.paper-form-content-data__province,
.paper-form-content-data__phone,
.paper-form-content-data__email {
    display: inline-flex;
    align-items: flex-end;
}

.paper-form-content-personal__warn {
    margin-top: 16px;
}

#name {
    width: 506px;
}

#dni {
    width: 118px;
}

#street {
    width: 328px;
}

#location {
    width: 139px;
}

#cp {
    width: 65px;
}

#province {
    width: 151px;
}

#phone {
    width: 150px;
}

#email {
    width: 217px;
}

.paper-form-content input {
    padding: 3px;
    border-bottom: 1px dotted black;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 3px 0;
}

#acepto,
.acepto {
    font-size: 0.8em;
}

.acepto a {
    font-size: 1em;
    color: #2c4cff;
    text-decoration: none;
}